= render 'shared/header'

.container
  .Top
    %h1 このサイトで出来るコト
    %ul
      %li ・感覚的操作によるDWSの作成
      %li ・スタッフの登録・編集・削除
      %li ・資源の削減
      %p ※80店舗が毎日1枚印刷すると
      %p →  29200枚(約 木2本分に相当)
  %p.copy ©️ 2020 Kawaguchi,inc.