.Top {
  position: relative;
  border-radius: 10px;
  height: 450px;
  width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
    color: #a8e49e;
    text-shadow: 1px 2px rgb(0, 156, 0);
  }
   .Top-text {
    margin-left: 20px;
    color: rgb(165, 165, 165);
  }
}
.Tree-wrapper {
  display: flex;
  justify-content: center;
}
.Baby-tree {
  margin-top: 20px;
  height: 150px;
  width: 150px;
}

.Contact-link {
  display: flex;
  bottom: 10px;
  right: 10px;
  position: absolute;
  font-weight: bold;
  .G-form {
    text-decoration: none;
    color: #ff9393;
    text-shadow: 1px 1px #9c0000;
  }
}