.Top {
  height: 100%;
  width: 100%;
}

.Explanation {
  opacity: 0;
  font-size: 50px;
  margin-left: 50px;
  color: white;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 4px 4px #929292;
}

.Function-list {
  margin: 30px 0 0 350px;
  color: #ffffff;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 2px 2px #929292;
  &__one {
    margin-left: 20px;
    opacity: 0;
  }
  &__two {
    margin-left: 10px;
    opacity: 0;
  }
  &__three {
    opacity: 0;
  }
  .Top-text {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 350px;
    color: #888888;
    text-shadow: 1px 1px #020202;
    opacity: 0;
  }
}

.Contact-link {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  font-size: 22px;
  color: #8b0101;
  .G-form {
    text-decoration: none;
    color: #ff6565;
  }
}