* {
  box-sizing: border-box;
}

.Wrapper {
  position: fixed;
  z-index: 30;
  width: 100vw;
}

.notice {
  background-color: rgb(108, 213, 240);
  color: #fff;
  text-align: center;
  z-index: 10;
}
.alert {
  background-color: rgb(255, 136, 67);
  color: #fff;
  text-align: center;
}

.Header {
  padding: 0 30px 0 30px;
  background-color: #000000;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Header-left {
    font-size: 24px;
    font-weight: bold;
  }
  .Header-right {
    font-size: 16px;
    font-weight: bold;
    padding-right: 50px;
  }
}

.store-name {
  text-decoration: none;
  color: #ffffffd5;
  font-size: 20px;
}
.menu-link {
  text-decoration: none;
  color: #ffffffd5;
  margin-left: 5px;
}