.container {
  height: 100vh;
  width: 100vw;
  background-image: url("tree2.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  .Register {
    border-radius: 10px;
    height: 450px;
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-form {
      text-align: center;
      &__text {
        font-size: 26px;
        margin-bottom: px;
      }
      &__field {
        margin-top: 20px;
        margin-bottom: -5px;
        &--text {
          font-weight: bold;
          font-size: 14px;
        }
        &--name {
          resize: none;
          width: 300px;
          height: 26px;
          padding: 5px;
          margin-bottom: -10px;
        }
        &--email {
          width: 300px;
          padding: 5px;
        }
        &--password {
          width: 300px;
          padding: 5px;
        }
        .Register-btn {
          padding: 10px 40px;
          font-weight: bold;
          border-radius: 4px;
          color: white;
          border: none;
          background-color: rgb(180, 16, 16);
        }
      }
    }
  }
  .copy {
    color: #8b8b8b;
    font-size: 6px;
    bottom: 2px;
    position: absolute;
  }
}

