.Schedule-wrapper {
  background-color: #f7f7f7;
  height: 100vh;
  width: 100vw;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
  .Schedule {
    &__theme {
      display: flex;
      justify-content: space-between;
      &--text {
        margin-top: 35px;
        height: 40px;
        display: flex;
        align-items: center;
        border: 1px solid #363434;
        border-radius: 4px;
      }
    }
    &__target {
      margin: 3px 0;
      display: flex;
      justify-content: flex-end;
      &--buy {
        align-items: center;
        display: flex;
        border: 1px solid #363434;
        border-radius: 2px;
      }
      &--sales {
        align-items: center;
        display: flex;
        border: 1px solid #363434;
        border-radius: 2px;
        margin-left: 15px;
      }
    }
  }
}

.Create-wrapper {
  display: flex;
  .Schedule-btn {
    width: 200px;
  }
  .Schedule__create {
    width: 1200px;
  }  
}

.Action-text {
  border-right: 1px solid #363434;
  padding: 5px;
  background: linear-gradient(#e2e2e2, #a3a3a3);
  height: 100%;
  line-height: 30px;
}

.Action-input {
  border: none;
  resize: none;
  width: 400px;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.Creater {
  margin-top: 5px;
  display: flex;
  border: 1px solid #363434;
  border-radius: 2px;
  height: 40px;
  &__text {
    width: 85px;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(#e2e2e2, #a3a3a3);
    border-right: 1px solid #363434;
  }
  &__name {

    width: 120px;
    text-align: center;
    border: none;
  }
}
.Target-text {
  background: linear-gradient(#e2e2e2, #a3a3a3);
  padding: 5px;
}

.Target-number {
  text-align: center;
  width: 50px;
  border: none;
}

.Target-price {
  text-align: center;
  width: 100px;
  border: none;
}

.DWS-header {
  height: 45px;
  display: flex;
  &__block {
    background: linear-gradient(#e3fcde, #a1db9f);
    width: 100%;
    border: 1px solid #363434;
    &--name {
      text-align: center;
      line-height: 45px;
    }
    .DWS_header__block--time {
      font-size: 14px;
      padding-top: 24px;
    }
  }
}

.DWS-header__block--remark {

  background: linear-gradient(#e3fcde, #a1db9f);
  width: 100%;
  border: 1px solid #363434;
  text-align: center;
  line-height: 45px;
}

li {
  list-style: none;
}

.DWS-contents {
  height: 45px;
  width: 100%;
  background-color: #fffaeb;
  display: flex;
  &__name {
    border: 1px solid #363434;
    height: 100%;
    width: 85px;
  }
  &__input {
    border: 1px solid #363434;
    height: 100%;
    width: 85px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &--form {
      font-size: 12px;
      height: 25px;
      width: 80%;
      text-align: center;
      border-radius: none;
    }
  }
  &__schedule {
    position: relative;
    border: 1px solid #363434;
    width: calc(100% - 79px);
    height: 100%;
    display: flex;
    .Hour {
      width: 100%;
      height: 100%;
      display: flex;
    }
    .Quarter {
      height: 100%;
      width: 100%;
      border: 1px solid #ebebeb;
    }
  }
}

.select-staff {
  height: 43px;
  width: 85px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f3f1f1;
  border: none;
}

.Add-name {
  height: 43px;
  width: 85px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ebebeb;
  padding-left: 5px;
  border: none;
}

.Add {
  width: 85px;
  display: flex;
  justify-content: flex-end;
}

.Btn-list {
  margin-right: 5px;
  .Schedule-btn {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@mixin parts-css() {
  z-index: 10;
  height: 43px;
  width: 85.5px;
  max-width: 1040px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #919191;
  .remark {
    height: 18px;
    font-size: 10px;
    width: 80%;
    background-color: none;
    margin-bottom: 3px;
    border: none;
    text-align: center;
    font-weight: normal;
  }
}



.DWS-parts {
  background-color: #fff;
  font-size: 10px;
  align-items: center;
  width: 150px;
  height: 86px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  &__text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 44px;
    background: linear-gradient(#fde2e2, #ffb2b2);
    border: 1px solid #000;
  }
  p {
    font-weight: bold;
  }
  &__product {
    @include parts-css();
    background: linear-gradient(#fff0d7,#ffc46a);
    }
  &__buy {
    @include parts-css();
    background: linear-gradient(#d0ffcb, #83d87b);
  }
  &__register {
    @include parts-css();
    background-color: #fffd91;
    background: linear-gradient(#fffec2, #e6e46e);
  }
  &__maintenance {
    @include parts-css();
    background: linear-gradient(#fdcece, #ec8484);
  }
  &__visit {
    @include parts-css();
    background: linear-gradient(#d3d3ff, #9696ff);
  }
  &__rest {
    @include parts-css();
    background: linear-gradient(#ffdce1, #ffacba);
  }
  &__toilet {
    @include parts-css();
    font-size: 8px;
    background: linear-gradient(#e4fafc, #85f5fd);
  }
  &__other {
    @include parts-css();
    background: linear-gradient(#eeeeee, #c4c4c4);
  }
  .Origin-parts {
    @include parts-css();
  }
  &__morning {
    z-index: 10;
    height: 43px;
    width: 85px;
    max-width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-top: 15px;
    border: 1px solid;
    .remark {
      height: 18px;
      font-size: 10px;
      width: 80%;
      background-color: none;
      margin-bottom: 3px;
      text-align: center;
      font-weight: normal;
    }
  }
}

.Create-task {
  margin-top: 10px;
  width: 100%;
  background: linear-gradient(#cae0c9, #029923);
  color: #fff;
  text-shadow: 1px 1px #222;
}

.Button {
  width: 100%;
  font-size: 12px;
}

.Print {
  width: 150px;
}

.Modal-window {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .Modal-bg {
    z-index: 30;
    background: rgba(0,0,0,0.5);
    height: 200vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  .Modal-content {
    width: 400px;
    height: 300px;
    z-index: 40;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    &__text {
      font-size: 20px;
      margin-top: 20px;
    }
    &__name {
      margin-top: 30px;
    }
    &__color {
      margin-top: 20px;
      &--btn {
        height: 43px;
        width: 85px;
        
      }
    }
    &__btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      &--submit {
        padding: 5px;
      }
    }
  }
}

.Origin-btn {
  width: 100%;
  font-size: 12px;
}

.Task-delete__btn {
  width: 20px;
  margin-top: -23px;
}

.delete-icon {
  color: #ec8484;
}

.Print-btn {
  width: 100%;
  background: linear-gradient(#ffb5b5, #ff7171);
}